.ant-layout.landing {
	height: 100vh;
	background: #ffffff;
	padding: 0;
	margin: 0 12rem;
}

.ant-layout-header.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6.25rem;
	padding: 0;
	background: #ffffff;
}

.ant-btn-round.ant-btn-lg.signin__button {
	height: 50px;
	padding: 8px 40px;
	font-size: 20px;
}

.landing__content {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.content__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.ant-typography.main__title {
	font-size: 3.5rem;
	font-weight: 700;
	margin-bottom: 0.6rem;
}

.ant-typography + h4.ant-typography.sub__text {
	font-weight: 500;
	margin-top: 0;
}

.ant-btn-round.ant-btn-lg.signup__button {
	margin-top: 3rem;
	height: 50px;
	padding: 8px 20px;
	font-size: 20px;
}

.image__container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	animation: FadeInEffect 3s ease-out 1 normal forwards;
}

.image__container > .ant-image {
	z-index: 1;
	width: 100%;
	height: auto;
}

.bg__blob {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 0;
}

.ant-layout-footer.footer {
	background: #ffffff;
	text-align: center;
}

@keyframes FadeInEffect {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
