.signup__container {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ant-typography.signup__title {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

.ant-card.ant-card-bordered.signup__card {
	width: 27rem;
	height: auto;
}

.ant-card.ant-card-bordered.signup__card > .ant-card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ant-form.signup__form {
	margin-top: 3rem;
	padding: 0 0.625rem;
	width: 100%;
}

.ant-form.signup__form.ant-input {
	line-height: 1;
	margin-left: 1rem;
}

.ant-form-item.email_form_item,
.ant-form-item.password_form_item,
.ant-form-item.name_form_item,
.ant-form-item.username_form_item,
.ant-form-item.signup_btn_form_item {
	margin-bottom: 1rem;
}

.anticon.form_item_icon {
	color: #c5c5c5;
}

.signin_link {
	margin-left: 0.625rem;
}

.signin_link:hover {
	color: #0275d8;
	font-weight: 400;
}

.ant-form-item.signin_text_form_item {
	margin-bottom: 0;
}

.ant-btn.signup_button {
	width: 100%;
	font-weight: 600;
	color: #ffffff;
}
