.logo__container {
	height: 100%;
	display: flex;
	align-items: center;
}

.ant-typography.logo__text__left {
	margin: 0;
	font-size: 3rem;
	font-weight: 800;
	color: #e89f7c;
}

.ant-typography + h1.ant-typography.logo__text__right {
	display: flex;
	align-items: center;
	margin: 0;
	font-weight: 800;
	color: #655e38;
	padding-top: 0.5rem;
}
